name: CI

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    unit-tests-backend:
        runs-on: ubuntu-latest
        steps:
          #1
            - uses: actions/checkout@v5
          #2
            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.21"
                cache-dependency-path: bugtracker-backend/go.sum
          #3
            - name: Install go-junit-report
              run: go install github.com/jstemmer/go-junit-report/v2@latest
          #4
            - name: Execute Backend Unit Tests
              working-directory: ./bugtracker-backend
              run: |
                go test -json -coverprofile=coverage.out -covermode=atomic ./...
                go tool cover -func=coverage.out > coverage.txt
                echo "## Go Test Coverage Report" >> $GITHUB_STEP_SUMMARY
                echo '```' >> $GITHUB_STEP_SUMMARY
                cat coverage.txt >> $GITHUB_STEP_SUMMARY
                go test -v ./... 2>&1 | go-junit-report > test-results.xml 
          #5
            - name: Publish Backend Tests
              uses: dorny/test-reporter@v2
              if: always()
              with:
                name: Backend Unit Test Reports
                path: bugtracker-backend/test-results.xml
                reporter: jest-junit
              
    unit-tests-frontend:
        needs: unit-tests-backend
        runs-on: ubuntu-latest
        steps:
          #1
            - uses: actions/checkout@v5
          #2
            - name: Set up Node
              uses: actions/setup-node@v6
              with:
                node-version: "20"
                cache-dependency-path: bugtracker-frontend/package-lock.json
          #3
            - name: Execute Frontend Unit Tests
              working-directory: ./bugtracker-frontend
              run: |
                npm ci
                npm test
          #4
            - name: Publish Frontend Tests
              uses: dorny/test-reporter@v1
              if: always()
              with:
                name: Frontend Unit Test Reports
                path: bugtracker-frontend/test-results.xml
                reporter: jest-junit